In [2]:
import pandas as pd
from dateutil.parser import parse
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('../data/temixco.csv',index_col=0,parse_dates=True)
df = df.shift(freq='5D')

In [7]:
df

                        Ib   Ig     To     RH     WS     WD         P
time
2018-01-06 00:00:00    NaN  NaN  18.70  36.34  1.422  316.0  87864.11
2018-01-06 00:10:00  0.002  0.0  18.95  35.29  1.008  283.7  87876.37
2018-01-06 00:20:00  0.170  0.0  18.94  35.43  1.565  326.0  87888.64
2018-01-06 00:30:00  0.371  0.0  18.77  35.89  2.175  354.5  87887.21
2018-01-06 00:40:00  0.305  0.0  18.81  36.34  1.902  348.0  87886.91
...                    ...  ...    ...    ...    ...    ...       ...
2019-01-05 23:10:00  0.125  0.0  18.51  47.29  1.715  332.2  87484.32
2019-01-05 23:20:00  0.000  0.0  18.26  48.02  1.703  320.5  87470.70
2019-01-05 23:30:00  0.044  0.0  18.39  46.84  2.887  335.7  87455.03
2019-01-05 23:40:00  0.170  0.0  17.99  47.85  1.528  358.8  87470.02
2019-01-05 23:50:00  0.003  0.0  17.75  49.65  0.598  322.3  87467.29

[52560 rows x 7 columns]